name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  vendor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.14.x
      - name: get dependencies
        run: go get -v -t -d ./...
      - name: vendoring
        run: go mod vendor

      - uses: actions/upload-artifact@v2
        with:
          name: repository
          path: .

  lint:
    runs-on: ubuntu-latest
    needs: vendor
    steps:
      - uses: actions/checkout@v2
      # https://github.com/golangci/golangci-lint-action#how-to-use
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest

  test:
    runs-on: ubuntu-latest
    needs: vendor
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.14.x
      - uses: actions/download-artifact@v2
        with:
          name: repository
          path: .
      - name: test race
        run: go test -v -race ./...

  cover:
    runs-on: ubuntu-latest
    needs: vendor
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.14.x
      - uses: actions/download-artifact@v2
        with:
          name: repository
          path: .
      - name: take coverage
        run: go test -coverprofile=coverage.txt -covermode=count ./...
      - uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage.txt
